<!DOCTYPE html>
<html>
  <head>
    <title>Angular News</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body ng-app="angularNews">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div ng-include="'nav/_nav.html'"></div>
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </body>
</html>
